language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 7.1
      env: COMPOSER_FLAGS='--prefer-lowest'
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 8.0
    - php: nightly
      env: COMPOSER_FLAGS='--ignore-platform-reqs'
  allow_failures:
    - php: nightly
  fast_finish: true

install:
  - echo "Composer flags are '$COMPOSER_FLAGS'"
  - composer update $COMPOSER_FLAGS

script:
   - ./vendor/bin/phpunit
